<% content_for :support do %>
	<%= render :partial => 'public/shared/news' %>
<% end %>



<h1><%= h @event.name %></h1>
<h2 class="sub"><%= @event.start_time.to_time.to_s(:long) %></h2>
<div class="copy" style="margin-right:20px;">
	<% unless @event.venue[:id].nil? %>
		<% venue = Facebook.get_object(@event.venue[:id]) %>
		<img src="<%= "http://maps.google.com/maps/api/staticmap?center=#{venue.location.latitude},#{venue.location.longitude}&amp;zoom=14&amp;size=300x200&amp;key=#{google_maps_key}&amp;sensor=false&amp;markers=color:red|#{venue.location.latitude},#{venue.location.longitude}" %>" alt="Google maps location" />
		<h3><%= @event.venue.name %></h3>
	<% else %>
		<h3><%= @event.venue.name %></h3>
	<% end %>
	<div class="datetime">
	<h4><span>Start Time:</span> <%= @event.start_time.to_time.strftime("%I:%M %p")%></h4>
	<h4><span>Finish Time:</span> <%= @event.end_time.to_time.strftime("%I:%M %p")%></h4>
	</div>
 	<%= auto_link(textilize(@event.description)) %>
</div>
