<div id="player">
	<div class="panes">
		<div>
			<object width="629" height="353"><param name="allowfullscreen" value="true"></param><param name="movie" value="http://www.facebook.com/v/10151089801528897"></param><embed src="http://www.facebook.com/v/10151089801528897" type="application/x-shockwave-flash" allowfullscreen="1" width="629" height="353"></embed></object>
		</div>
		<%- @promos_top.each do |promo| %>
		<div>
			<a href="<%= if promo.page : view_page_path(promo.page.slug_path) else '#' end %>">
			<span><%= promo.intro %></span>
			<%= image_tag promo.image.url(:main_promo) %>
			</a>
		</div>
		<%- end %>
	</div>
	<ul class="buttons">
		<li><h4>Snowsports? In Leeds?</h4><p>2012/13 Snowsports Movie</p><span class="arrow"></span></li>
		<%- @promos_top.each do |promo| %>
		<li><h4><%= promo.title %></h4><p><%= promo.subtitle %></p><span class="arrow"></span></li>
		<%- end %>
	</ul>
</div>
