<% content_for :support do %>
	<h2><%= @root_page.to_s %></h2>
	<% Event.limited.group_by(&:event_month).sort.each do |event_month, archive| %>
	<div id="month_<%= event_month %>" class="archive">
		<ul class="nav">
			<li class="withsubnav"><a href="#"><%= Date::MONTHNAMES[event_month] %></a>
			<ul>
			<% archive.each do |event| %>
				<li><a href="<%= event_path event %>" title="<%= event.title %>"><%= event.title %></a></li>
			<% end %>
			</ul>
			</li>
		</ul>
	</div>
	<% end %>
	<%= render :partial => 'public/shared/news' %>
<% end %>

<%= render 'public/shared/page_body' %>
<% if @events %>
	<% @events.each do |event| %>
	<div class="divider">
		<%= datebox(event.start_time.to_time) %>
		<h2><%= link_to event.name, event_path(event[:id]) %></h2>
	</div>
	<% end %>
<% end %>
