<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function(){
	$("a[rel='lightbox']").colorbox();
})
</script>
<% end %>

<% content_for :support do %>
<h2><%= @page.title %></h2>
<ul class="nav">
	<% @galleries.each do |gallery| %>
	<li><a href="/gallery?id=<%= gallery.id %>"><%= gallery.name %></a></li>
	<% end %>
</ul>
<%= render :partial => 'public/shared/news' %>
<%= render :partial => 'public/shared/events' %>
<% end %>

<h1><%= @gallery.name %></h1>
<div class="copy">
	<%= @gallery.description %>
</div>
<ul class="gallery">
<% @gallery.gallery_images.each do |image| %>
	<li class="<%= cycle('one','two','three','four')%>">
		<%= link_to image_tag(image.file.url(:thumb), :width => 135), image.file.url(:medium), :rel => 'lightbox' %>
	</li>
<% end %>
</ul>