<%= render 'public/shared/page_body' %>

<% @page.children.each do |profile| %>
<div class="profile-card<%= cycle('','',' last') %>">
	<%= link_to((image_tag profile.image.url(:large_thumb), :width => 180), url_for_page(profile)) %>
    <h2><%= profile.title %></h2>
    <h3><%= profile.subtitle %></h3>
</div>
<% end %>
