<% @page_title = "Add Gallery Images" %>
<% content_for :head do %>
<script type="text/javascript">
//public/javascripts/application.js

// This sets up the proper header for rails to understand the request type,
// and therefore properly respond to js requests (via respond_to block, for example)
$.ajaxSetup({ 
  'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
})

	$(document).ready(function() {

  // UJS authenticity token fix: add the authenticy_token parameter
  // expected by any Rails POST request.
  	$(document).ajaxSend(function(event, request, settings) {
    // do nothing if this is a GET request. Rails doesn't need
    // the authenticity token, and IE converts the request method
    // to POST, just because - with love from redmond.
    if (settings.type == 'GET') return;
    settings.data = settings.data || "";
    settings.data += (settings.data ? "&" : "") + "authenticity_token=" + encodeURIComponent('<%= form_authenticity_token %>');
  });

	});
  $(document).ready(function() {
		$('ul.gallerylist').sortable({
		  dropOnEmpty:false, 
		  cursor: 'move',
		  opacity: 0.8,
		  scroll: true,
		  update: function(){
		    $.ajax({
		        type: 'post', 
		        data: $('ul.gallerylist').sortable('serialize'), 
		        dataType: 'script', 
		        url: '<%= reorder_admin_gallery_gallery_images_path(params[:gallery_id]) %>'})
		    }
		  })
	})
</script>
<% end %>

<% create_form :multipart => true do |f| %>
  <%= partial 'form', :f => f %>
<% end %>

<h2>Uploaded Images</h2>
<ul class="gallerylist">
	<% if @object.gallery %>
	<% @object.gallery.gallery_images.each do |image| %>
	<li class="<%= cycle('one','two','three','four')%>" id="gallery_image_<%= image.id -%>">
		<%= image_tag image.file.url(:thumb) %>
		<div class="controls narrow">
			<%= link_to_with_icon 'edit', 'Edit', edit_object_url(image) %>
	    <%= link_to "#{image_tag('/images/admin/delete.gif')} Delete", object_url(image), :method => :delete, :confirm => 'Are you sure?' %>
		</div>
	</li>
	<% end %>
	<% end %>
</ul>	