<fieldset>

  <div class="title">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

	<%= f.field :subtitle %>

  <%= render :partial => 'admin/pages/common_fields', :locals => {:f => f} %>  

  <%= render :partial => 'admin/pages/meta_fields', :locals => {:f => f} %>

  <%= render :partial => 'admin/pages/page_content_fields', :locals => {:f => f} %>

	<fieldset>
		<legend>Image</legend>
		<%= f.label :image, 'Profile Image' %><br />
		<%= f.file_field :image %><br />
		<%= image_tag(@page.image.url(:medium)) if @page.image %>
	</fieldset>

</fieldset>