<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function() {
	
	$(function() { 
	    var rotateDelay = 4000; //milliseconds 
	    var rotateTabs=true;     
	    var $tabItems = $('div#player ul li').click(function(){ //clicking a tab should cancel the rotate 
	        rotateTabs=false; 
	    }); 
	    var tabs = $("div#player ul").tabs('div#player div.panes > div', {api:true, effect: 'fade'}); //create the tabs and return the api 
	    function doRotateTabs(){ //recursive function 
	        if (rotateTabs) { 
	            setTimeout(function(){ 
	                if (!rotateTabs) return; 
	                if(tabs.getIndex() == $tabItems.length-1){ //last tab. restart on first tab 
	                    tabs.click(0); 
	                } 
	                else { 
	                    tabs.next(); 
	                } 
	                doRotateTabs(); 
	            }, rotateDelay); 
	        } 
	    } 
	    doRotateTabs(); 
	});
	
		
	$('div.movie').flash({
		swf: '/flash/assets/swfplayer/player.swf',
		height: 353,
		width: 629,
		wmode: 'transparent',
		flashvars: {
			file: '/flash/assets/snowsports_promo_09.flv',
			controlbar: 'over',
			image: '/flash/assets/snowsports_promo_09.jpg'
			}
	});
	
	
	
	$('ul#promos li p').css('right', '-250px');
	
	var onMouseOver = function() { 
		$(this).stop();
		$(this).find('p').stop().animate({right: '0px'}, 200)
	};
	
	var onMouseOut = function() { 
		$(this).find('p').stop().animate({right: '-250px'}, 200)
	};
	
	$('ul#promos li').hover(onMouseOver, onMouseOut);
	
	
});
</script>
<% end %>
<%= render :partial => 'layouts/shared/header' %>
<div class="wrapper">
  	<%= render_breadcrumb %>
  	<%= render_flash %>
	<%= render :partial => 'public/shared/player' %>
	<ul class="gallery" id="home_gallery">
		<%= render :partial => 'public/shared/image', :collection => @random_images %>
	</ul>
	<div id="newsevents">
		<div class="news">
			<h2><%= s("LATEST NEWS") %></h2>
			<ul>
				<% @news.each do |item| %>
				<li>
					<%= link_to image_tag(item.image(:thumbnail)), url_for_page(item)%>
					<h4><%= link_to_page(item) %></h4>
					<h5><%= format_date(item.publish_date)%></h5>
					<p><%= truncate(item.intro, :length => 275) %></p>
				</li>
				<% end %>
			</ul>
		</div>
		<div class="events">
			<h2><%= s("NEXT EVENTS") %></h2>
			<ul>
				<% @events.each do |event| %>
				<li>
					<%= datebox(event.start) %>
					<h4><%= link_to event.title, event_path(event) %></h4>
					<p><%= event.address %></p>
				</li>
				<% end %>
			</ul>	
		</div>
	</div>
	<ul id="promos">
  	<% @promos_bottom.each do |promo| %>
		<li class="<%= cycle('blue','yellow','pink') %>">
			<% if promo.override_url.empty? %>
				<% link = view_page_path(promo.page.slug_path) if promo.page %>
			<% else %>
				<% link = promo.override_url %>
			<% end %>
			<h4><%= link_to s(promo.title), link  %></h4>
			<p><%= promo.intro %></p>
			<%= link_to (image_tag promo.image.url(:medium)), link %>
		</li>
	<% end %>
	</ul>
<%= render :partial => 'layouts/shared/footer' %>