<%= render :partial => 'layouts/shared/header' %>
<div class="wrapper">
	<div class="left">
  	<%= render_breadcrumb %>
  	<%= render_flash %>
  	<%= yield %>
	</div>
	<div class="right">
		<%= (out=yield :support) ? out : render(:partial => 'layouts/shared/default_support') %>
	</div>
<%= render :partial => 'layouts/shared/footer' %>
